libtetra_original/
.internal/

# Python
__pycache__/
*.py[cod]
*.so
.python-version
.pkg-venv/
.venv/
venv/

# Packaging
build/
dist/
*.egg-info/
site/

# Tool caches
.coverage
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
htmlcov/
